:root {
    color-scheme: light dark;

    /* solarized colors */
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--base03);
        --highlight: var(--base02);
        --primary: var(--base0);
        --secondary: var(--base01);
        --emphasized: var(--base1);
    }

    img {
        filter: grayscale(15%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--base3);
        --highlight: var(--base2);
        --primary: var(--base00);
        --secondary: var(--base1);
        --emphasized: var(--base01);
    }
}

body {
    background-color: var(--background);
    color: var(--primary);
    height: 100%;
    margin: 1rem auto;
    padding: 0 1rem;
    font-family: sans-serif;
    max-width: 40rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--emphasized);
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: 2em;
    margin-bottom: 1em;
}

ul,
ol {
    padding-left: 0;
    list-style-position: outside;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--violet);
}

main,
header,
nav {
    border-bottom: 1px solid var(--secondary);
}

header {
    display: flex;
    align-items: baseline;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
    color: var(--emphasized);
    text-decoration: none;
}

header p {
    padding: 1em;
}

footer ul,
nav ul {
    padding: 0;
    line-height: 2em;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 1em;
}

nav li a:hover {
    background-color: var(--highlight);
    text-decoration: none;
}

nav li a.active {
    background-color: var(--highlight);
}

main {
    line-height: 2em;
    padding: 1em 0;
}

figure#profile {
    float: left;
    margin: 1em 1em 0 0;
}

footer {
    text-align: center;
    color: var(--secondary);
    font-size: small;
}

footer li {
    display: inline-block;
}

footer li:not(:last-child)::after {
    content: " ·";
}
