:root {
    color-scheme: light dark;

    /* solarized colors */
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--base03);
        --highlight: var(--base02);
        --primary: var(--base0);
        --secondary: var(--base01);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--base3);
        --highlight: var(--base2);
        --primary: var(--base00);
        --secondary: var(--base1);
    }
}

body {
    background-color: var(--background);
    color: var(--primary);
    height: 100%;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--cyan);
}

.container {
    display: flex;
    margin: 1em auto;
    padding: 0 1em;
    justify-content: center;
    align-content: center;
    max-width: 80em;
}

.content {
    width: 40em;
    font-family: sans-serif;
    line-height: 2em;
    flex: 0 3 auto;
}

.menu {
    justify-content: left;
    align-content: left;
    overflow: auto;
    flex: 0 1 auto;
}

.menu ul {
    margin: 1em;
    padding: 1em;
}

.menu li {
    display: block;
}

.menu li a {
    display: block;
    padding: 1em;
}

.menu li a:hover {
    background-color: var(--highlight);
    text-decoration: none;
}

footer {
    margin: 1em auto;
    padding: 0 1em;
    bottom: 0;
    text-align: center;
    color: var(--secondary);
}

footer ul {
    padding: 0;
}

footer li {
    margin: 0 1em;
    display: inline-block;
}
